  <div> 
    <h3>Day 1 : ADD ME</h3>
    <table class="table table-striped">  
      <tr>               <!-- row 1   -->
        <td colspan="2" style="text-align:center"><strong>Lessons</strong></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td rowspan="5" style="vertical-align:middle"><a href = "https://edcarp.github.io/introduction-to-conda-for-data-scientists/">Introduction to Conda</a></td>        <!-- time    -->
        <td>Getting Started with Conda</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Working with Environments</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>Using Packages and Channels</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>Sharing Environments</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>Configuring Conda</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 15   -->
        <td colspan="2" style="text-align:center"><strong>Breaks</strong></td>        <!-- time    -->
      </tr>
      <tr>               <!-- row 16   -->
        <td>Morning</td>        <!-- time    -->
        <td>10:30 - 10:45</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 17   -->
        <td>Lunch</td>        <!-- time    -->
        <td>12:30 - 13:30</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 18   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>15:00 - 15:15</td>        <!-- content -->
      </tr>
    </table>
</div>
